doctype html
html
	head 
		title Lorenzo's Checklist
		link(href="stylesheets/main.css", type="text/css", rel="stylesheet")
		meta(charset="UTF-8")
	body
		h1 Checklist
		.mustdo
			.design
				h2 Design
				ul
					li 
						input(type="checkbox")
						Body Copy is NOT centered
					li 
						input(type="checkbox")
						Max ~70 characters per line
					li 
						input(type="checkbox")
						Consistent padding for similar elements
					li
						input(type="checkbox")
						Images NEVER pixelated
			.sass
				h2 Sass
				ul
					li 
						input(type="checkbox")
						&ldquo;burbon install&rdquo; in stylesheet folder EVERY TIME
					li 
						input(type="checkbox")
						Change style.css to stylesheet.scss
					li 
						input(type="checkbox")
						Run &ldquo;sass &ndash;watch stylesheet/styles.scss&rdquo;
					li
						input(type="checkbox")
						Inception Rule: after 4 levels the dream collapses
					li
						input(type="checkbox")
						Run Sass Beautify to take care of spaces
			.htmlcode
				h2 HTML and CSS
				ul
					li 
						input(type="checkbox")
						Use a container div
					li 
						input(type="checkbox")
						"Meta-charset: utf-8"
					li 
						input(type="checkbox")
						Minimal &quot;br&quot; tags
					li
						input(type="checkbox")
						No floating divs
					li
						input(type="checkbox")
						All div tags are closed
					li 
						input(type="checkbox")
						ResetCSS is BEFORE StyleCSS
					li
						input(type="checkbox")
						StyleCSS functions across all pages
					li
						input(type="checkbox")
						Alts for the images
					li 
						input(type="checkbox")
						Clear(right) after floating
					li
						input(type="checkbox")
						THE CODE IS MINIMAL
					li
						input(type="checkbox")
						Run HTML Beautify to take care of spaces
			.git
				h2 Git
				ul
					li 
						input(type="checkbox")
						ADD &rArr; COMMIT &rArr; PUSH
					li 
						input(type="checkbox")
						checkout gh-pages &rArr; pull origin master &rArr; push
					li 
						input(type="checkbox")
						&ldquo;python &ndash;m SimpleHTTPServer&rdquo; makes a local server to see changes in real time
			.responsiveness
				h2 Responsiveness
				ul
					li 
						input(type="checkbox")
						Always do mobile first
					li 
						input(type="checkbox")
						Include &quot;&lt; meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot; &gt;&quot;	
					li 
						input(type="checkbox")
						Save a(href='http://sixrevisions.com/web_design/comprehensive-guide-saving-images-for-web/', target='blank') images well
			.javascript
				h2 JavaScript and JQuery
				ul
					li 
						input(type="checkbox")
						Avoid creating global variables
					li 
						input(type="checkbox")
						Always put the JQuery library at the top
					li 
						input(type="checkbox")
						Put Scripts at the very end
					li
						input(type="checkbox")
						Use "Console.log" to test scripts
