$letters: 9;

@function d3($depth, $color, $stepX: 1px, $stepY: 1px, $blur: 0){
  $string: '';
  @for $i from 1 through $depth {
    $string: $string + ' #{round($i * $stepX)} #{round($i * $stepY)} #{$blur} ' + $color;
    @if $i < $depth {
      $string: $string + ',';
    }
  }
  @return unquote($string);
}

input {
  position: absolute;
  opacity: 0;
  
}

.logo {
  height: 2em;
  line-height: 1em;
  width: max-content;
  white-space: nowrap;
  margin: 0 auto;
  font-size: 8em;
  perspective: 1000px;
  perspective-origin: 50% 0%;
  transform: scale(1,0.8);
  
  span {
    text-transform: uppercase;
    font-family: 'Oswald';
    display: inline-block;
    height: 1em;
    line-height: 1em;
    vertical-align: top;
    margin: 0em;  
    color: #fff;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
    animation-timing-function: 
      ease-in,
      ease-out,
      linear;
    @at-root {
      @keyframes color1 {
        0% {
         color: #fff;
        }
        100% {
         color: #f00;
        }
      }
      @keyframes color2 {
        0% {
         color: #fff;
        }
        100% {
         color: #f00;
        }
      }
      @keyframes scale {
        0% {
         color: #fff;
        }
        100% {
         color: #f00;
        }
      }
    }
    @for $i from 1 through $letters {
      $offset: $i - ceil($letters/2);
      $trans: if($offset > 0, -89.5deg , 89.5deg);
      &:nth-child(#{$i}) {
        transform-origin: 50% + 50%/$offset 200%;
        font-size: if($offset == 0,
          0.85em, 
          0.9em + 0.015*pow(abs($offset),2));
        #rerun1:checked ~ & {
          animation-name: in1-#{$i}, out1-#{$i}, color1;
        }
        #rerun2:checked ~ & {
          animation-name: in2-#{$i}, out2-#{$i}, color2;
        }
        $del: 1s + 0.1s*$i;
        $maxdel: 1s + 0.1s*$letters;
        $dur: 1s + 0.05s*$i;
        $maxdur: 1s + 0.05s*$letters;
        animation-delay: 
          $del, 
          $maxdel + $maxdur, 
          $maxdel + $maxdur + 0.4s;
        animation-duration: 
          $dur,
          3s,
          0.1s;
      }
      @at-root {
        @keyframes in1-#{$i} {
          0%  {
           transform: 
             if($offset == 0,
               scale(1,1),
               scale(95.9 - abs($offset)*10,1))
             if($offset == 0,
               translatey(0%),
               rotatey($trans));
            text-shadow: 
              d3(15, rgba(200,200,200,0), 0, 0),
              d3(50, rgba(200,200,200,0), 0, 0);
          }
          50% {
            transform: 
              if($offset == 0,
                scale(1.2,1.2),
                scale(126.2 - abs($offset)*10,1.2))
              if($offset == 0,
               translatey(-16%),
               rotatey($trans));
            text-shadow:  
              d3(15, #f2f2f2, if($offset == 0, 0, -0.25px*$offset), 1px),
              d3(50, #dadada, 1px, 3px, 1px);
          }
          100% {
            transform: 
              if($offset == 0,
                scale(1.1,1.1),
                scale(116.2 - abs($offset)*10,1.1))
              if($offset == 0,
               translatey(-12%),
               rotatey($trans));
            text-shadow:  
              d3(15, #f2f2f2, if($offset == 0, 0, -0.25px*$offset), 1px),
              d3(50, #dadada, 1px, 3px, 1px);
          }
        }
        @keyframes in2-#{$i} {
          0%  {
           transform: 
             if($offset == 0,
               scale(1,1),
               scale(95.9 - abs($offset)*10,1))
             if($offset == 0,
               translatey(0%),
               rotatey($trans));
            text-shadow: 
              d3(15, rgba(200,200,200,0), 0, 0),
              d3(50, rgba(200,200,200,0), 0, 0);
          }
          50% {
            transform: 
              if($offset == 0,
                scale(1.2,1.2),
                scale(126.2 - abs($offset)*10,1.2))
              if($offset == 0,
               translatey(-16%),
               rotatey($trans));
            text-shadow:  
              d3(15, #f2f2f2, if($offset == 0, 0, -0.25px*$offset), 1px),
              d3(50, #dadada, 1px, 3px, 1px);
          }
          100% {
            transform: 
              if($offset == 0,
                scale(1.1,1.1),
                scale(116.2 - abs($offset)*10,1.1))
              if($offset == 0,
               translatey(-12%),
               rotatey($trans));
            text-shadow:  
              d3(15, #f2f2f2, if($offset == 0, 0, -0.25px*$offset), 1px),
              d3(50, #dadada, 1px, 3px, 1px);
          }
        }
        @keyframes out1-#{$i} {
          
          0% {
            transform: 
              if($offset == 0,
                scale(1.1,1.1),
                scale(116.2 - abs($offset)*10,1.1))
              if($offset == 0,
               translatey(-12%),
               rotatey($trans));
            text-shadow:  
              d3(15, #f2f2f2, if($offset == 0, 0, -0.25px*$offset), 1px),
              d3(50, #dadada, 1px, 3px, 1px);
          }

          20% {
           transform: 
             if($offset == 0,
               scale(1.05,1.05),
               scale(105.9 - abs($offset)*10,1.05))
             if($offset == 0,
               translatey(-7%),
               rotatey($trans));
            text-shadow: 
              d3(15, rgba(200,200,200,0), 0, 0),
              d3(50, rgba(200,200,200,0), 0, 0);
          }
          100% {
           transform: 
             if($offset == 0,
               scale(1,1),
               scale(95.9 - abs($offset)*10,1))
             if($offset == 0,
               translatey(0%),
               rotatey($trans));
            text-shadow: 
              d3(15, rgba(200,200,200,0), 0, 0),
              d3(50, rgba(200,200,200,0), 0, 0);
          }
        }
        @keyframes out2-#{$i} {
          
          0% {
            transform: 
              if($offset == 0,
                scale(1.1,1.1),
                scale(116.2 - abs($offset)*10,1.1))
              if($offset == 0,
               translatey(-12%),
               rotatey($trans));
            text-shadow:  
              d3(15, #f2f2f2, if($offset == 0, 0, -0.25px*$offset), 1px),
              d3(50, #dadada, 1px, 3px, 1px);
          }

          20% {
           transform: 
             if($offset == 0,
               scale(1.05,1.05),
               scale(105.9 - abs($offset)*10,1.05))
             if($offset == 0,
               translatey(-7%),
               rotatey($trans));
            text-shadow: 
              d3(15, rgba(200,200,200,0), 0, 0),
              d3(50, rgba(200,200,200,0), 0, 0);
          }
          100% {
           transform: 
             if($offset == 0,
               scale(1,1),
               scale(95.9 - abs($offset)*10,1))
             if($offset == 0,
               translatey(0%),
               rotatey($trans));
            text-shadow: 
              d3(15, rgba(200,200,200,0), 0, 0),
              d3(50, rgba(200,200,200,0), 0, 0);
          }
        }
      }
    }
  }
}
