$color:#39b14f;
@function makelongshadow($spacing) {
  $val: 0px 0px 10px rgba(255,255,255,0.5);
  @for $i from 1 through 6 {
    $dark : darken($color, 20%);
    $val: #{$val}, #{$i*$spacing}px #{$i*$spacing}px $dark;
  }
  $val: #{$val}, 6px 6px 15px #000;
  @return $val;
}

@mixin longshadow($spacing) {
  text-shadow: makelongshadow($spacing);
}

@keyframes fadeIn{
  0%{
    transform: rotateZ(20deg);
    opacity:0;
  }
  50%{
    transform: rotateZ(20deg);
    top:50px;
    opacity:0;
    letter-spacing:10px;
  }
  100%{
    transform: rotateZ(0deg);
    top:0px;
    opacity:1;
    letter-spacing:0px;
  }
}

h1{
  position:relative;
  font-weight:900;
  font-size: 8em;
  color:lighten($color, 50%);
  @include longshadow(1);
  text-align:center;
  animation:fadeIn 2s;
  transition:text-shadow .2s;
  cursor:pointer;
  &:hover{
    @include longshadow(2);
  }
  &:active{
    @include longshadow(0);
  }
}

.vertical-wrapper{
  height:100%;
  width:100%;
  display:table;
}

.middle{
  width:100%;
  display:table-cell;
  vertical-align:middle;
  overflow:hidden;
  *:first-child{
    margin-top:0;
  }
  *:last-child{
    margin-bottom:15px;
  }
}