/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Ignore the gross stuff above */
body {
  background: blue; }
  body #canvas {
    width: 100%; }
  body .typed-sentence {
    width: 0;
    overflow: hidden;
    white-space: nowrap; }
  body .mustdo {
    width: 80%;
    margin: 0 auto; }
    body .mustdo #canvas {
      width: 100%; }
    body .mustdo .design, body .mustdo .htmlcode, body .mustdo .sass, body .mustdo .git, body .mustdo .responsiveness, body .mustdo .javascript {
      float: left;
      width: 40%;
      margin: 20px 5%; }
      body .mustdo .design h2, body .mustdo .htmlcode h2, body .mustdo .sass h2, body .mustdo .git h2, body .mustdo .responsiveness h2, body .mustdo .javascript h2 {
        font-style: italic;
        font-family: "nouvelle-vague", sans-serif;
        font-size: 2.5em;
        animation-duration: 7000ms; }
      body .mustdo .design h2:hover, body .mustdo .htmlcode h2:hover, body .mustdo .sass h2:hover, body .mustdo .git h2:hover, body .mustdo .responsiveness h2:hover, body .mustdo .javascript h2:hover {
        transform: rotate(20deg); }
      body .mustdo .design li, body .mustdo .htmlcode li, body .mustdo .sass li, body .mustdo .git li, body .mustdo .responsiveness li, body .mustdo .javascript li {
        color: #F2F2F0;
        font-family: helvetica, sans-serif;
        font-size: 2.5em * 1.61803;
        margin: 30px 0 30px 30px;
        letter-spacing: .05em;
        transition: letter-spacing 500ms ease-in; }
        body .mustdo .design li input, body .mustdo .htmlcode li input, body .mustdo .sass li input, body .mustdo .git li input, body .mustdo .responsiveness li input, body .mustdo .javascript li input {
          width: 50px;
          border: 1px solid black; }
      body .mustdo .design li:hover, body .mustdo .htmlcode li:hover, body .mustdo .sass li:hover, body .mustdo .git li:hover, body .mustdo .responsiveness li:hover, body .mustdo .javascript li:hover {
        letter-spacing: .18em; }
      body .mustdo .design a, body .mustdo .htmlcode a, body .mustdo .sass a, body .mustdo .git a, body .mustdo .responsiveness a, body .mustdo .javascript a {
        color: red; }

/*# sourceMappingURL=main.css.map */
