/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Ignore the gross stuff above */
@keyframes fadeIn {
  0% {
    transform: rotateZ(20deg);
    opacity: 0; }
  50% {
    transform: rotateZ(20deg);
    top: 50px;
    opacity: 0;
    letter-spacing: 10px; }
  100% {
    transform: rotateZ(0deg);
    top: 0px;
    opacity: 1;
    letter-spacing: 0px; } }
h1 {
  position: relative;
  font-weight: 900;
  font-size: 8em;
  color: #effaf1;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5), 1px 1px #20642d, 2px 2px #20642d, 3px 3px #20642d, 4px 4px #20642d, 5px 5px #20642d, 6px 6px #20642d, 6px 6px 15px #000;
  text-align: center;
  animation: fadeIn 2s;
  transition: text-shadow .2s;
  cursor: pointer; }
  h1:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5), 2px 2px #20642d, 4px 4px #20642d, 6px 6px #20642d, 8px 8px #20642d, 10px 10px #20642d, 12px 12px #20642d, 6px 6px 15px #000; }
  h1:active {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5), 0px 0px #20642d, 0px 0px #20642d, 0px 0px #20642d, 0px 0px #20642d, 0px 0px #20642d, 0px 0px #20642d, 6px 6px 15px #000; }

.vertical-wrapper {
  height: 100%;
  width: 100%;
  display: table; }

.middle {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden; }
  .middle *:first-child {
    margin-top: 0; }
  .middle *:last-child {
    margin-bottom: 15px; }

body {
  background: blue; }
  body #canvas {
    width: 100%; }
  body .typed-sentence {
    width: 0;
    overflow: hidden;
    white-space: nowrap; }
  body .mustdo {
    width: 80%;
    margin: 0 auto; }
    body .mustdo #canvas {
      width: 100%; }
    body .mustdo .design, body .mustdo .htmlcode, body .mustdo .sass, body .mustdo .git, body .mustdo .responsiveness {
      float: left;
      width: 40%;
      margin: 20px 5%; }
      body .mustdo .design h2, body .mustdo .htmlcode h2, body .mustdo .sass h2, body .mustdo .git h2, body .mustdo .responsiveness h2 {
        font-style: italic;
        font-family: "nouvelle-vague", sans-serif;
        font-size: 2.5em; }
      body .mustdo .design li, body .mustdo .htmlcode li, body .mustdo .sass li, body .mustdo .git li, body .mustdo .responsiveness li {
        color: #F2F2F0;
        font-family: helvetica, sans-serif;
        font-size: 2.5em * 1.61803;
        margin: 30px 0 30px 30px;
        letter-spacing: .05em;
        transition: letter-spacing 500ms ease; }
        body .mustdo .design li input, body .mustdo .htmlcode li input, body .mustdo .sass li input, body .mustdo .git li input, body .mustdo .responsiveness li input {
          width: 50px;
          border: 1px solid black; }
      body .mustdo .design li:hover, body .mustdo .htmlcode li:hover, body .mustdo .sass li:hover, body .mustdo .git li:hover, body .mustdo .responsiveness li:hover {
        letter-spacing: .18em; }
      body .mustdo .design a, body .mustdo .htmlcode a, body .mustdo .sass a, body .mustdo .git a, body .mustdo .responsiveness a {
        color: red; }

/*# sourceMappingURL=style.css.map */
